* {
  box-sizing: border-box;
}

body {
  margin: 0 1em;
}

h1 {
  /* text-decoration: overline underline wavy chartreuse; */
  /* text-transform: uppercase; */
  color: rgb(255, 145, 0);
  font-size: 4rem;
}

/* -----Nav bar----- */
nav {
  ul {
    padding-left: 0;
    background-color: rgb(239, 191, 119);
    border: 2px solid rgb(119, 73, 13);
    display: flex;
    list-style-type:none;
    flex-flow: row nowrap;
    justify-content: space-around;
    font-weight: bold;
    li > a {
      text-decoration: none;
      display: block;
      color: whitesmoke;
      &:hover {
        background-color: rgb(119, 73, 13);
        font-weight: bolder;
        color: bisque
      }
    }
  }
}

.date-author-line dt,
.date-author-line dd {
  display: inline;
}

.article-content {
  display: flex;
}

/* -----Img aligment (nor working on images when screen width is to low)----- */

.article-content>.img-aligner {
  margin: 0.25em 0.5em;
  border: 2px solid red; /* for debugging */
  width: 50%;
  background-color: chartreuse;
}

img {
  height: auto;
  width: 100%;
}

.float-left {
  float:left;
}

.float-right {
  float:right;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.article-content {
  display: flow-root;
}

/* -----Drop caps----- */

.article-content>p:first-of-type:first-letter{
  font-weight: bold;
  font-family: monospace;
  color: slategray;
}

@supports (not (initial-letter: 2)) and (not (-webkit-initial-letter: 2)) {
  .article-content>p:first-of-type:first-letter{
    float: left;
    font-size: 300%;
    margin-bottom: 0;
    margin-top: 0.3rem;
    margin-right: 0.1ex;
    /* padding: 0.35cap; */ /* for backgrounds */
  }
}

@supports (initial-letter: 2) or (-webkit-initial-letter: 2) {
  .article-content>p:first-of-type:first-letter {
    -webkit-initial-letter: 2;
    initial-letter: 2;
    /* padding: 0 .9cap 0 1.35cap; */ /* for backgrounds */
    margin-left: 0.5cap;
    margin-right: 0.5cap;
  }
}
