/* INSTRUCTIONS
 *
 * 1) Keep the text inside .intro-content
 *    in the same place, but have the background
 *    extend from one side of the viewport
 *    to the other, no matter how wide or narrow
 *    the browser is.
 *
 * 2) Limit the maximum width of the text in the
 *    bottom area.
 *
 * You may modify the HTML if needed
 * (you probably should for this challenge)
 *
 */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.wrapper, .container {
  max-width: 750px;
  margin: 0 auto;
  padding-inline: 2em;
}

.container-bg {
  background: #23424a;
}

.container {
  padding-block: 50px;
  color: white;
}

.intro-content {
  width: 50%;
}
