.sticky-header {
  --header-gap: 2vw;

  position: sticky;
  inset: 0 0 auto;
  background-color: var(--ld-bg-alt);
  box-shadow: 0 -1px 3px 1px var(--ld-separator-neutral);
}

.nav-flex {
  display: block flex;
  flex-flow: row nowrap;
  gap: var(--header-gap);
  justify-content: space-between;

  & > * {
    align-self: center;
  }

  & > fieldset {
    flex-grow: 0;
  }
}

.nav-flex-child {
  flex: 1 1 0;
}

.backdrop { display: none; }

.nav-list {
  padding-inline-start: unset;
  border: 5px solid orange;
  list-style-type: none;
}

.nav-search {
  flex: 4 2 0;
  width: 0;
  min-width: 0;
  max-width: min(300px, 32dvw);
  margin-inline-start: auto;
  margin-inline-start: calc(var(--header-gap) * 3);
  font-size: 1rem;
}

.nav-link {
  padding-block: 0.375rem;
  font-size: 1rem;
}

li > .nav-link {
  display: block;
  align-content: center;
  min-height: 100%;
}

.nav-link:global(.selected) {
  font-weight: bold;
}

.nav-link-home {
  font-weight: bold;
  font-size: 1.75rem;
}

.nav-container { display: contents; }

@media (width > 694px) {
  .sticky-header { padding-inline: var(--header-gap); }
  .nav-list { display: contents; }
}

@media (width <= 694px) {
  .nav-list {
    display: none;
    min-width: 35dvw;
    min-height: 100%;
    margin-block: 0;
    background-color: var(--ld-bg-alt);
    pointer-events: auto;
    /* background-color: rgb(86 133 213 / 70%); */
    transition-timing-function: ease-out;
    transition-duration: 0.5s;
    transition-property: transform, opacity;
    transition-behavior: allow-discrete;

    &.panel-close {
      opacity: 0;
      transform: translate(-100%, 0);
    }

    &.panel-open {
      position: sticky;
      top: 0;
      display: block;
      display: inline-block;
      opacity: 1;
      transform: translate(0, 0);
    }
  }

  .backdrop {
    position: absolute;
    inset: 0;
    display: block;
    border: 5px solid chartreuse;
    background-color: rgb(78 67 56 / 55%);
    pointer-events: auto;
  }
}

@media (width <= 510px) {
  /* .sticky-header {
    flex-wrap: wrap;
  }

  .nav-search {
    order: 10;
  }

  fieldset {
    margin-inline-start: auto;
  } */

  .nav-list {
    min-width: 65dvw;
  }
}
