/* ==LIGHT-DARK SWITCHER== */

.radio-switch {
  --base-font-size: 1rem;

  display: flex;
  justify-content: center;
  padding: 0;
  border: none;
  white-space: nowrap;
}

.radio-switch legend {
  position: absolute;
  font-size: 2px;
  opacity: 0;
}

.radio-switch label {
  position: relative;
  z-index: 2;
  display: inline-block;
  font-size: calc(var(--base-font-size) * 0.9);
  line-height: 2;
}

.radio-switch input {
  position: absolute;
  opacity: 0;
}

.radio-switch label:first-of-type {
  padding-right: 5em;
}

.radio-switch label:last-of-type {
  margin-left: -4.25em;
  padding-left: 5em;
}

/* making the switch UI.  */
.radio-switch label:first-of-type::before,
.radio-switch label:first-of-type::after {
  content: "";
  position: absolute;
  vertical-align: middle;
  overflow: hidden;
  border: 1px solid;
  pointer-events: none;
}

.radio-switch label:first-of-type::before {
  position: absolute;
  right: 0%;
  z-index: 2;
  width: 2em;
  height: 2em;
  border-color: var(--c-chinese-silver);
  border-radius: 100%;
  background: var(--c-silvery-white);
  transition: transform 0.2s ease-in-out;
  transform: translateX(0.15em);
}

.radio-switch label:first-of-type::after {
  width: 4em;
  height: 1.6em;
  margin: 0 1em;
  border-color: var(--c-silvery-white);
  border-radius: 1em;
  background: var(--c-dark-tangerine);
  transition: background 0.2s ease-in-out;
  transform: translateY(3px);
}

.radio-switch:focus-within label:first-of-type::after {
  box-shadow:
    0 0 0 2px var(--ld-bg),
    0 0 0 5px light-dark(var(--c-secondary), var(--c-primary));
}

.radio-switch input:first-of-type:checked ~ label:first-of-type::after {
  background: var(--c-primary);
}

.radio-switch input:first-of-type:checked ~ label:first-of-type::before {
  transform: translateX(-2.15em);
}

.radio-switch input:last-of-type:checked ~ label:last-of-type {
  z-index: 1;
}
