/* ************ */
/* RESET STYLES */
/* ************ */
html {
  box-sizing: border-box;
  font-synthesis: none;
}

*, *::before, *::after {
  box-sizing: inherit;  /* 2.1 make box-sizing inheritable */
}

body {
  font-family: Ubuntu, sans-serif;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2 {
  line-height: 1.2;
}

h3, h4,
button, input, label {
  line-height: 1.1;
}

ol {
  padding: 0;
  list-style-position: inside;
}

/* ************** */
/* REGULAR STYLES */
/* ************** */

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  font-style: normal;
  font-family: "Permanent Marker", "Brush Script MT", cursive;
}

.goals-list {

}

.challenge-topic {
  &::before {
    content: "topic:";
    font-family: "Permanent Marker", "Brush Script MT", cursive;
    text-transform: uppercase;
  }
}

.challenge-tip {
  &::before {
    content: "tip:";
    font-family: "Permanent Marker", "Brush Script MT", cursive;
    text-transform: uppercase;
  }
}
