.post-list {
  display: grid;
  row-gap: 4rem;
  margin-block-end: 3rem;
}

.post-card {
  position: relative;
  display: grid;
  grid-template-columns: auto;
  overflow: hidden;
  border: 5px solid #fff;
  background-color: var(--accent-color);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);

  &:hover, &:focus-within {
    border-color: var(--accent-color);
    transform: scale(1.05) rotate(0.5deg);
  }

  &:nth-of-type(even) {
    &:hover, &:focus-within {
      transform: scale(1.05) rotate(-0.5deg);
    }
  }
}

.post-img {
  align-content: center;
  justify-items: center;

  img {
    object-fit: cover;
    object-position: 50% 25%;
    min-width: 100%;
    height: 250px;
  }
}

.post-content {
  padding: 2rem;
  background: rgb(0 0 0 / 90%);
}

.author-date-line {
  border-left: 4px solid;
  border-left-color: var(--accent-color);
}

.emoji-img {
  display: block;
  font-size: clamp(7rem, 4rem + 8vw, 11rem);
  filter:
    brightness(0) invert(1)
    drop-shadow(0 4px 8px rgb(0 0 0 / 60%))
    drop-shadow(0 2px 4px rgb(0 0 0 / 80%));
}

@media (width > 760px) {
  .post-card:nth-of-type(odd) {
    grid-template-columns: 1fr 3fr;
  }

  .post-card:nth-of-type(even) {
    grid-template-columns: 3fr 1fr;

    .post-content {
      order: 0;
    }

    .post-img {
      order: 1;
    }
  }
}

@media (width > 900px) {
  .post-list {
    grid-template-columns: 1fr 3fr 1fr;
  }

  .post-card:nth-of-type(odd) {
    grid-template-columns: 1fr 3fr;
    grid-column: 1/3;
  }

  .post-card:nth-of-type(even) {
    grid-template-columns: 3fr 1fr;
    grid-column: 2/-1;
  }
}

@media (width > 760px) and (width < 1200px) {
  .post-img img {
    object-fit: scale-down;
    object-position: 50% 50%;
    min-height: 100%;
  }
}

@media (width >= 1200px) {
  .post-img img {
    object-fit: cover;
    min-height: 100%;
  }
}
